.container{
    height: 54rem;
    width: 45rem;
    border: solid white;
    border-radius: 1rem;
}
.top{
    width: 45rem;
    height: 12.5rem;
    border: solid white;
    background-color: white;

}

.name{
    text-align: center;
}

.user-profession{
    text-align: center;
}

.personal-contact{
    display: flex;
    justify-content: space-around;
}

.social-media-contact{
    display: flex;
    justify-content: space-around;
}

.summary{
    height: 8rem;
    width: 45rem;
    background-color: white;
    /* border: solid black; */
}

.middle{
    width: 45rem;
    height: 20rem;
    background-color: white;
    /* margin-top: 7rem; */
    text-align: center;

}

.last{
    width: 45rem;
    height: 9.5rem;
    background-color: white;

}