.container{
    height: 50rem;
    width: 40rem;
    background-color: rgba(59, 58, 58, 0.194);
    margin-left: 2rem;
    display: flex;
    border-radius: 1rem;
    
}

.left-container{
    height: 50rem;
    width: 15rem;
    background-color: rgba(182, 136, 225, 0.207);
    border-radius: 1rem;
}

.img{
    height: 9rem;
    width: 15rem;
    background-color: rgba(68, 68, 167, 0.633);
}
.right-container{
    height: 50rem;
    width: 30rem;
    background-color: rgba(0, 0, 255, 0.132);
    border-radius: 1rem;
    
}
.h3{
    text-align: center;
    background-color: white;
}
.h1{
    text-align: center;
}

.profile{
    margin-left: 0.4rem;
}

.details{
    margin-left: 1rem;
}
.experience{
    margin-left: 0.7rem;
}
