body{
    font-family: Arial, sans-serif;
    background-color: rgb(245, 190, 136);
    border-radius: 2rem;
   margin-left: 1rem;
   
}
.container{
    height: 70rem;
    width: 70rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    /* text-align: center; */
    
}
.header{
    text-align: center;
    /* background-color: rgb(248, 242, 233); */
}
.section{
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.902);
    border-radius: 0.5rem;
    color: rgb(10, 9, 9);
    margin-left: 0.5rem;
}
.a{
    border: 0;
    font-size: 1.1rem;
}
.b{
    border: 0;
    width: 65rem;
    font-size: 1rem;
}
.c{
    border: 0;
    width: 65rem;
    font-family: Arial, sans-serif  !important;
    font-size: 1rem;
}
.d{
    border: 0;
    width: 65rem;
    font-family: Arial, sans-serif  !important;
    font-size: 1rem;
} 
.e{
    border: 0;
    width: 65rem;
    font-family: Arial, sans-serif  !important;
    font-size: 1rem;
}

