body{
    
    padding: 5rem;
    background-color: #f4f4f4;
    font-family:Arial,  sans-serif !important;
    background: linear-gradient(to right,#f8f9fa,#e9ecef);
    
}

.file{
    margin-left: 0.5rem;
    margin-top: 5rem;
    font-size: 1rem;
    
}
.p{
    margin-bottom: 1rem;
}
.a{
    width: 67rem;
    height: 11rem;
    background-color: rgb(246, 249, 249);
    color: white;
    border: solid white;
    display: flex;
    border: 0rem;
    border-radius: 1rem;
   margin-left: 1rem;
   margin-bottom: 2rem;
}
.b{
    width: 13rem;
    height: 12rem;
    background-color: rgb(222, 209, 184);
    border-radius: 12rem;
    text-align: center;
    color: black;
    margin-bottom: 4rem;
   
}
.c{
    width: 53rem;
    height: 6rem;
    background-color: rgb(245, 245, 245);
    /* margin-top: 1rem; */
    margin-left: 1rem;
    text-align: center;
    color: black;
    
}
.inp{
    font-size: 1.3rem;
    text-align: center;
    margin-left: 0rem;
    background-color: rgb(250, 250, 250);
    border: 0;
    
}
.gra{
    font-size: 1.1rem;
    text-align: center;
    margin-left: 6rem;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 1rem;
    width: 44rem;
}
.d{
    width: 13rem;
    height: 32rem;
    background-color: white;
    /* margin-bottom: 1rem; */
    border: solid black;
    margin-left: 20rem;
    
}
.fa-solid fa-phone-volume{
    margin-left: 0.5rem;
    margin-top: 1rem;
    border: 0;
}
.f{
    width: 13rem;
    height: 12rem;
    background-color: green;
   
}
.con{
    background-color: white;
    color: black;
    border-radius: 1.3rem;
    line-height: 0.3rem;
    font-family: Arial, sans-serif !important;
    font-size: 0.8rem !important;
}
.edu{
    background-color: white;
    color: black;
    border-radius: 1.3rem;
    line-height: 2.6rem;
    font-family: Arial, sans-serif !important;
    font-size: 0.7rem !important;
}

.skill{
    background-color: white;
    color: black;
    border-radius: 1.3rem;
    line-height: 1.3rem;
    font-family: Arial, sans-serif !important;
    font-size: 0.7rem !important;
}



.middle{
    height: 47rem;
    width: 65rem;
    background-color: white;
    display: flex;
    margin-left: 1rem;
    
    border-radius: 1rem;
}
.left{
    height: 45rem;
    width: 14rem;
    background-color: rgb(201, 200, 202);
    text-align: center;
    border: solid rgb(19, 19, 242);
    border-radius: 1rem;
    margin-bottom: 4rem;
    font-family: Arial, Helvetica, sans-serif !important;
}

.right{
    height: 45rem;
    width: 48rem;
    background-color: rgba(134, 118, 149, 0.899);
    margin-left: 1rem;
    border: dotted black;
    border-radius: 1rem;
    margin-bottom: 5rem;
    

}
.y1{
    height: 2rem;
    background-color: rgb(250, 249, 247);
    border: solid black;
    border-radius: 1rem;

}
.ul{
    
    color: black;
    margin-left: 2rem;
    width: 39rem;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif !important;
}
.x1{
    height: 2rem;
    background-color: rgb(250, 249, 247);
    border: solid black;
    border-radius: 1rem;
}
.x2{
    height: 3rem;
    background-color: rgb(250, 249, 247);
    border: solid black;
    border-radius: 1rem;
    width: 39rem;
    font-family:Arial,  sans-serif !important;

}


.date{
    margin-left: 45rem;
    margin-bottom: 10rem;
}
.t{
    width: 37rem;
}
.text{
    width: 42rem;
    height: 3rem;
    border-radius: 1rem;
    border: 0rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 13rem;
    font-size: 1rem;
    
}
.sum{
    width: 50rem;
    height: 3.5rem;
    border-radius: 1rem;
    border: 0rem;
    font-weight: 13rem;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
}
h2{
    color: rgb(5, 5, 5);
    
}
h3{
    text-align: center;
    color: black;
    


}
.container{
    width: 55rem;
    height: 60rem;
    
}
