body{
    background-color: gray
}
h1{
    text-align: center;
    background-color: aliceblue;
    border: solid blue;
    width: 32rem;
}
h2{
    text-align: center;
    background-color: white;
    border: solid black;
    width: 32rem;
}
.p{
    /* text-align: center; */
    color:white;
    font-size: 1.5rem;
    
 
   
   
}
.e{
    /* text-align: center; */
    color: white;
    font-size: 1.5rem;

    
    
}
.s{
    
    font-size: 1rem;
}
.ex{
    font-size: 1rem;
}
.pro{
    font-size: 1rem;
}
.su{
    font-size: 1rem;
}
.click{
    font-size: 2rem;
}
.container_a{
    display: flex;

}
.middle{
    display: flex;
}
.bottom{
    display: flex;
}